/* ---- reset ---- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0C2B25;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
/* ---- stats.js ---- */

.count-particles{
  background: transparent;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 32px;
  color: white;
  letter-spacing: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

#sitelogo{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -140px;  /* half of your logo size should be minus*/
}

#exploreSite {
  background:transparent;
  font-size: 40px;
  color: white;
  border-color: transparent;
  margin-top: 40px;
  letter-spacing: 3px;
  margin-left: -82px;
  font-family: Helvetica, Arial, sans-serif;
}



/* HEADER */
#header-nav {
  margin-top: 20px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 0px;
}

#logo-img {
  background: url('../images/logoP.PNG') no-repeat;
  height: 110px;
  width: 110px;
  margin: 10px 15px 10px 200px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1{   /* Restaurant's Name */
  font-size: 1.9em;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #0C2B25;
  text-shadow: 1px 1px 1px #222;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {  /* Koshar Cerification Text */
  margin-top: 15px;
  color: #000;
  text-transform: uppercase;
  font-size: 0.7em;
}

.navbar-brand span {  /* Koshar Cerification Alignment */
  vertical-align: middle;
}

.navbar-info{
  float: right;
  margin-top: 25px;
  margin-right: 200px;
  font-size: 1.2em;
}

.navbar-info .navbar-info-email{
  float: right;
}

#info-email{
  padding-right: 20px;
}

#nav-list {
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

#nav-list a {
  color: #004044;
  text-align: center;
}

#nav-list a:hover {
  background: #DBDDE0;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-info .navbar-info-email {
  padding-right: 22px;
}

#phone {
  margin-top: 5px;
}

#phone a {
  text-align: right;
  padding-bottom: 0px;
}

#phone div {
  text-align: right;
  padding-right: 15px;
  color: #557c3e;
}

.navbar-header button.navbar-toggle, .navbar-header button.navbar-toggle span {
  border: 1px solid #004044;
}

.navbar-header button.navbar-toggle {
  clear: both;
  /*background: #EBEDEF; */
  margin-top: -30px;
}

/* END HEADER */

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

#aboutSection .jumbotron {
  box-shadow: 0 0 10px #004030;
  background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); 
  height: 550px;
}

#aboutSection .jumbotron h1 {
  margin-top: 150px;
  color: white;
  font-family:  Helvetica, Arial, sans-serif;
}


#brandSection .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.sectionTitle { padding: 20px; margin: 70px 10px 20px 10px;  font-size: 3em;
font-weight: bold; font-family: 'Lora', serif;  text-shadow: 1px 1px 1px #222; color: #145629;
}


#aboutSection p {
  padding: 10px;
  margin-bottom: 45px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 1.5em;
  color: green;
  line-height: 40px;

  font-family:  Helvetica, Arial, sans-serif;
}

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0px; 
  color: white;
}

.panel-footer div.row {
  margin-bottom: 30px;
}

#hours, #address {
  line-height: 2;
}

#hours span, #address span, #testimonials span {
  font-size: 1.4em;
}

#address p {
  color: #A6E22B;
  font-size: .9em;
  line-height: 1.8;
}

#testimonials p{
  font-style: italic;
  margin-top: 20px;
  font-size: .9em;
}

/* END FOOTER */
