body {
	font-size: 16px;
	color: #fff;
	background-color: #004044;
	font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
	background-color: #f6b319;
	border: 0px;
	border-radius: 0px;
}

#logo-img {
	background: url('../images/restaurant-logo_large.png') no-repeat;
	height: 150px;
	width: 150px;
	margin: 10px 15px 10px 0px;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1{ 	/* Restaurant's Name */
	font-size: 1.5em;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #557c3e;
	text-shadow: 1px 1px 1px #222;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {  /* Koshar Cerification Text */
	margin-top: 15px;
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
}

.navbar-brand span {  /* Koshar Cerification Alignment */
	vertical-align: middle;
}


#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #004044;
	text-align: center;
}

#nav-list a:hover {
	background: #DBDDE0;
}

#nav-list a span {
	font-size: 1.8em;
}

#phone {
	margin-top: 5px;
}

#phone a {
	text-align: right;
	padding-bottom: 0px;
}

#phone div {
	text-align: right;
	padding-right: 15px;
	color: #557c3e;
}

.navbar-header button.navbar-toggle, .navbar-header button.navbar-toggle span {
	border: 1px solid #004044;
}

.navbar-header button.navbar-toggle {
	clear: both;
	/*background: #EBEDEF; */
 	margin-top: -30px;
}

/* END HEADER */

/* HOME PAGE */

.container .jumbotron {
	box-shadow: 0 0 50px #004030;
	border: 2px solid #004030;
}

#menu-tile, #specials-tile, #map-tile {
	margin-bottom: 15px;
	position: relative;
	height: 250px;
	width: 100%;
	border: 2px solid #004030;
	overflow: hidden;
	border-radius: 8px;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0px 1px 5px 1px #cccccc;
}

#home-tiles a span{
	position: absolute;
	font-family: 'Josefin Sans', sans-serif;
	bottom: 0;
	right: 0;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 1.6em;
	color: #fff;
}

#menu-tile {
	background: url('../images/menu-tile.jpg') no-repeat;
	background-position: center;
}

#specials-tile {
	background: url('../images/specials-tile.jpg') no-repeat;
	background-position: center;
}

/* END HOME PAGE */

/* FOOTER */
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0px; 
}

.panel-footer div.row {
	margin-bottom: 30px;
}

#hours, #address {
	line-height: 2;
}

#hours span, #address span, #testimonials span {
	font-size: 1.4em;
}

#address p {
  color: #A6E22B;
  font-size: .9em;
  line-height: 1.8;
}

#testimonials p{
	font-style: italic;
	margin-top: 20px;
	font-size: .9em;
}

/* END FOOTER */

/* MENU CATEGORY PAGE */
.category-tile {
	position: relative;
	height: 200px;
	width: 200px;
	border: 2px solid #004030;
	overflow: hidden;
	border-radius: 7px;
	margin: 0px auto 25px;
}

.category-tile span {
	position: absolute;
	font-family: 'Josefin Sans', sans-serif;
	bottom: 0;
	right: 0;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 1.3em;
	color: #fff;
}

/* END MENU CATEGORY PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {

	.container .jumbotron {
		background: url('../images/jumbotron_1200.jpg') no-repeat;
		height: 675px;
	}
}

/********** Mediam devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/* HEADER PAGE */
	#logo-img {
		background: url('../images/restaurant-logo_medium.png') no-repeat;
		height: 100px;
		width: 100px;
		margin: 5px 10px 5px 0px;
	}

	/* HOME PAGE */
	.container .jumbotron {
		background: url('../images/jumbotron_992.jpg') no-repeat;
		height: 558px;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.container .jumbotron {
		background: url('../images/jumbotron_768.jpg') no-repeat;
		height: 432px;
	}
}

/********** Extra Small devices only **********/
@media (max-width: 767px ) {

	/* Header */
	.navbar-brand {
		padding-top: 10px;
		height: 80px; 
	}

	.navbar-brand h1{ 	/* Restaurant's Name */
		padding-top: 10px;
		font-size: 5vw;   /* 1 vm = 1% of the Viewdevice width and its responsive */
	}

	.navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #nav-list a {
		font-size: 1.2em;
	}

	#nav-list a span{
		font-size: 1em;
		margin-right: 5px;
	}

	#call-btn > a {
		font-size: 1.5em;
		display: block;
		background-color: #f6b319;
		border: 2px solid #fff;
		color: #004044;
		margin: 0px 20px;
		padding: 10px;
	}

	#xs-deliver {
		font-size: 0.7em;
		margin-top: 5px;
		text-transform: uppercase;
		letter-spacing: .2em;
	}

	/* End Header */

	/* HOME PAGE */
	.container .jumbotron {
		padding: 0px;
		margin-top: 20px;
	} 

	#menu-tile, #specials-tile {
		width: 360px;
    margin: 0px auto 20px auto;
	}

	#map-tile {
		width: 100%;
		margin: 0px auto 20px auto;
	}
	/* END HOME PAGE */

	/* FOOTER */
	.panel-footer section {
		margin-bottom: 30px;
		text-align: center;
	}

	.panel-footer section:nth-child(3) {
		margin-bottom: 0px;
	}

	.panel-footer section hr{
		width: 50%;
	}
	/* FOOTER */
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile{
    width: 280px;
    margin: 0 auto 15px;
  }

  /* Menu Category Tile */
  .col-xxs-12 {
		position: relative;
	  min-height: 1px;
	  padding-right: 15px;
	  padding-left: 15px;
	  float: left;
	  width: 100%;
	}
}
